.button-FbLogin {
    text-decoration: none;
    color: #385185;
    margin: 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}

.button-FbLogin img {
    height: 16px;
    width: 16px;
    margin-right: 8px;
}