.button-container {
    width: 17.25em;
    margin: 8px 40px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.button {
    border: none;
    background-color: rgb(0, 149, 246);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    padding: 7px 16px;
    border-radius: 8px;
    width: auto;
}