.button-FbLoginTr {
    text-decoration: none;
    color: white;
    width: 268px;
    height: 34px;
    background: rgb(0, 149, 246);
    margin: 8px 40px;
    padding: 7px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
}

.button-FbLoginTr img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background: white;
}

.button-FbLoginTr:hover {
    background-color: #0866ff;
}