.createHighlightButton-container {
    grid-column-start: 1;
    grid-row-start: 6;

    margin-top: 40px;
    margin-bottom: 44px;
    margin-left: 24px;
    height: 130px;
    width: 115px;
}

.createHighlightButton-button {

    /* padding: 10px 15px;
    width: 115px; */
    width: 100%;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.createHighlightButton-iconContainer {
    height: 77px;
    width: 77px;
    background-color: rgb(250, 250, 250);
    outline: 1px solid rgb(219, 219, 219);
    outline-offset: 3px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createHighlightButton-icon {
    font-size: 42px;
    color: rgb(199, 199, 199);
}

.createHighlightButton-name {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    padding-top: 15px;
}