.instagram-logo {
  margin: 36px 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram-logo img {
  width: 175px;
  height: 51px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}