.or-container {
    /* margin: 14px 40px 22px; */
    margin: 18px 40px;
    display: flex;
    align-items: center;
  }
  
  .or-line {
    height: 1px;
    flex-grow: 1;
    background-color: rgb(219, 219, 219);
  }
  
  .or {
    margin: 0 18px;
    font-weight: 600;
    color: rgb(115, 115, 115);
    font-size: 0.8125rem;
    line-height: 1.1538;
  }
  
