.passwordField {
  position: relative;
  display: flex;
  align-items: center;

  background: rgb(250, 250, 250);
  margin: 0px 40px 6px 40px;
  width: 17.25em;
}

.passwordField-input {
  width: 100%;
  height: 36px;
  background: rgb(250, 250, 250);

  outline: none;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  font-size: 12px;
  font-weight: 450;
  padding: 14px 50px 2px 8px;
   /* padding Right : Adjust to create space for the button */
}

.passwordField-placeholder {
  position: absolute;
  top: 9px;
  left: 8px;
  font-size: 12px;
  transition: 0.1s;
  pointer-events: none;

  height: 36px;
  font-weight: 450;
  line-height: 18px;
  color: rgb(115, 115, 115);
}

.passwordField-input:focus {
  outline-offset: -1px;
  outline: 1px solid rgb(160, 160, 160);
}

.passwordField-input:focus~.passwordField-placeholder,
.passwordField-input:not(:placeholder-shown)+.passwordField-placeholder {
  top: 0px;
  font-size: 10px !important
}

.passwordField-button {
  position: absolute;
  right: 10px;
  /* Position the button to the right inside the input */
  bottom: 10px;
  /* Adjust this value to vertically center the button */
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: rgb(38, 38, 38);
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.passwordField-button:hover {
  color: rgb(150, 150, 150);
}