
.lf-passwordInput {
    display: flex;
    align-items: center;
  }
  
  .lf-passBtn {
    margin-left: -85px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    color: rgb(38, 38, 38);
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    position: relative;
  }
  
  .lf-passBtn:hover {
    color: rgb(150, 150, 150);
  }