
.postLikeAnimation {
  height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;  /* Ensures the heart doesn't go outside the container */ 
  /* z-index: 2; */
  /* position: absolute;  */
   /* transform: translateY(-100%); */
}

.postLikeAnimation-icon {
  color: #f54290;
  font-size: 75px;
  position: absolute;
  margin-bottom: 70%;
  animation: flyUp 1s ease-out forwards, fadeOut 3s ease-out forwards;
}

/* Keyframe animation for the flying up effect */
@keyframes flyUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(-200px) scale(1.5);
    opacity: 1;
  }
  100% {
    transform: translateY(-400px) scale(0.8);
    opacity: 0;
  }
}

/* Keyframe animation for the fading out effect */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

