.postMoreOptionModal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    position: fixed;
}

.postMoreOption-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(255,255,255);
    width: 400px;
    border-radius: 12px;
}

.postMoreOption-links{
    text-decoration: none;
    color: black;
}
.postMoreOption-buttons{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.postMoreOption-links,
.postMoreOption-buttons{
    text-align: center;
    height: 49px;
    padding: 4px 8px;
    border-bottom: 1px solid rgb(219,219,219);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

.postMoreOptionRed{
    font-weight: 700;
    color: rgb(237,73,86);
}
