.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgb(219, 219, 219);
  /* border: 1px solid blue; */
}

.postHeader {
  width: 100%;
  padding: 0 4px 12px;
  display: flex;
  align-items: center;
}

.postUserPhoto {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  outline: 2px solid red;
  outline-offset: 2px;
  margin-right: 12px;
  object-fit: cover;
}

.postInfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.postInfo1,
.postInfo2 {
  display: flex;
  align-items: center;
}

.postLinks {
  text-decoration: none;
  color: black;
}

.postInfo-button{
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.postProfileName {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.userVerification {
  color: rgb(0, 149, 246);
  margin-left: 4px;
  font-size: 14px;
}

.postTimeSeparator {
  color: rgb(115, 115, 115);
  margin: 0 -2px;
}

.postTime,
.postLocation {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(115, 115, 115);
}

.postHeaderOption {
  border: none;
  background: none;
}

.postContent {
  position: relative;
  max-width: 100%;
}

.postImg {
  width: 468px;
  height: 584.672px;
  border-radius: 4px;
  border: 1px solid rgb(219, 219, 219);
  object-fit: cover;
}

.postVideo {
  width: 468px;
  height: 584.672px;
  border-radius: 4px;
  border: 1px solid rgb(219, 219, 219);
  background-color: black;
  padding: 0 20px;
}

.videoContainer {
  position: relative;
  width: 468px;
}

.videoControls button {
  border: none;
  cursor: pointer;
}

.videoPlayPauseButton {
  color: rgba(255, 255, 255, 0.8);
  font-size: 95px;
  position: absolute;
  top: 42.5%;
  left: 40%;
}

.videoMuteUnmute {
  background: rgb(38, 38, 38);
  color: whitesmoke;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 92%;
  left: 90%;
}

.postFooter {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.postFooterNav {
  display: flex;
  align-items: center;
  margin: 4px 0;
}

.postFooterNav> :nth-last-child(2) {
  margin-right: auto;
}

.postCommentIcon {
  font-size: 25px;
  margin: 0 8px;
  transform: rotate(270deg);
}

.postForwardIcon {
  font-size: 24px;
  transform: rotate(20deg);
}

.postFooterBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.postLikes {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}

.postComments {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(115, 115, 115);
}

.addComment {
  margin-top: 8px;
  display: flex;
  align-items: center;
  width: 100%;
}

.commentForm {
  display: flex;
  flex-grow: 1;
}

.postedCommentContainer{
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;
}
.commentedUser{
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}
.postedComment{
  margin-left: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.addCommentTextarea {
  border: none;
  outline: none;
  background: none;
  resize: none;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  max-height: 126px;
  overflow-y: auto;
}

textarea::placeholder {
  color: rgb(115, 115, 115);
  font-size: 14px;
}

.post-emojiButton {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  color: rgb(115, 115, 115);
  margin-left: auto;
  font-size: 13px;
}

.post-emojiButto:hover {
  color: rgb(219, 219, 219);
}

.postCommentButton {
  background: none;
  border: none;
  font-size: 0.875rem;
  line-height: 18px;
  font-weight: 600;
  margin: 0 8px;
  color: rgb(0, 149, 246);
  cursor: pointer;
}

/* @media screen and (max-width:500px) {
  .post {
    overflow: hidden;
  }

  .postImg {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .postVideo {
    width: 100%;
    height: auto;
    padding: 0;
  }
} */