.profileSettingModal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    position: fixed;
}

.profileSettings-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 400px;
    border-radius: 12px;
    overflow: auto;
}

.profileSettings-links {
    text-decoration: none;
}

.profileSettings-buttons {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.profileSettings-links,
.profileSettings-buttons {

    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(219, 219, 219);
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    color: black;
    width: 100%;
    height: 48px;
    padding: 4px 8px;
}