.searchModal {
    top: 0;
    left: 73px;
    width: 397px;
    height: 100vh;
    overflow-y: auto;
    position: absolute;
    z-index: 2;
    background-color: rgb(255,255,255);
    padding: 8px 0px;
    border-right: 1px solid rgb(219, 219, 219);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 4px 0px 24px rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
}

.searchModal-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    text-align: start;
    margin: 8px 0px;
    padding: 12px 14px 36px 24px;
}

.searchModal-inputContainer {
    height: 40px;
    min-width: 125px;
    margin: 0px 16px 24px 16px;
    display: flex;
}

.searchModal-input {
    width: 100%;
    height: 100%;
    background-color: rgb(239, 239, 239);
    z-index: 2;
    padding: 3px 16px;
    font-size: 16px;
    text-align: start;
    border-radius: 8px;
    border: none;
    outline: none;
   
}
.searchModal-inputClearButton{
    border: none;
    outline: none;
    background: none;
    border-radius: 50%;
    cursor: pointer;
}

.searchModal-seperator {
    height: 1px;
    background-color: rgb(219, 219, 219);
}

.searchModal-historyContainer {
    overflow-y: auto;
    position: relative;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

.searchModal-recent {
    margin: 6px 24px 8px 24px;
    padding-top: 4px;
}

.searchModal-recent span {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

.searchModal-history {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.searchModal-notification {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: rgb(115, 115, 115);
}