.shareFirstPhoto {
    margin: 60px auto;
    max-width: 350px;
    text-align: center;
}

.shareFirstPhoto-buttons{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.sfp-iconContainer{
    height: 62px;
    width: 62px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shareFirstPhoto-icon{
    font-size: 35px;
}

.pp-sharePhotos-icon {
    height: 62px;
    width: 62px;
}

.shareFirstPhoto-h1{
    margin: 19px 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 800;
}

.shareFirstPhoto-info {
    margin-bottom: 19px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
}

.sfp-uploadPhotoButton {
    font-size: 0.875rem;
    line-height: 18px;
    font-weight: 700;
    color: rgb(0, 149, 246);
}

.sfp-uploadPhotoButton:hover {
    color: rgb(5, 55, 107);
} 