.sidenavMore-container {
    width: 266px;
    height: 404.5px;
    box-shadow: 0px 0px 1px black;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
   
    display: flex;
    flex-direction: column;
    padding: 8px;
    z-index: 11;

    /* position: relative;
    bottom: 100px;
    left: -12px; */
}

.sidenavMore-links {
    text-decoration: none;
    color: black;
}

.sidenavMore-links,
.sidenavMore-buttons {
    height: 50px;
    padding: 16px;
    display: flex;
    align-items: center;
}

.sidenavMore-buttons {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.sidenavMore-links:hover,
.sidenavMore-buttons:hover {
    border-radius: 8px;
    background-color: rgb(240, 240, 240);
}

.sidenavMore-icons {
    margin-right: 12px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidenavMore-options {
    line-height: 18px;
    font-size: 14px;
    font-weight: 450;
}

.sidenavMore-seperator1 {
    height: 6px;
    margin: 8px -8px;
    background-color: #f1f4f7;
}

.sidenavMore-seperator2 {
    height: 0.5px;
    margin: 8px -8px;
    background-color: rgb(219, 219, 219);
}