.story {
    position: relative;
    display: flex;
    align-items: center;
}

.storyContainer {
    width: 100%;
    padding: 8px 0;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    /* For Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.storyContainer::-webkit-scrollbar {
    display: none;
}

.storyStartingGap {
    padding-right: 4px;
}

.storyUser {
    display: flex;
    flex-direction: column;
    height: 85px;
    margin: 0 8px;
    align-items: center;
}

.storyUserPhoto {
    margin: 4px 0 8px;
    width: 56px;
    height: 56px;
}

.storyUserPhoto img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid #bdbdbd;
    outline: 2px solid red;
    outline-offset: 2px;
    object-fit: cover;
}

.storyUserName {
    max-width: 74px;
    overflow: hidden;
    white-space: nowrap;
    text-transform: lowercase;
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    font-weight: 400;
}

.scrollButton {
    background: none;
    border: none;
    position: absolute;
    top: 42.5%;
    right: 89%;
    left: 89%;
    transform: translateY(-50%);
    font-size: 26px;
    color: white;
    padding: 8px;
    cursor: pointer;
    z-index: 1;
}

.scrollButton.left {
    left: 0;
}

.scrollButton.right {
    right: 0;
}

/* @media screen and (max-width:767px){

    .story {
       display: none;
    }

    .storyContainer{
       width:fit-content;
    }
    .storyUser {
        width: fit-content;
        height: fit-content;
    }
    .storyUserPhoto {
        height: fit-content;
    }
} */