
.suggestionsFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.suggestionsFooterContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3px;
   
    margin-bottom: 3px;
    margin-bottom: 19px;
    list-style: none; /* Removes the default list-style */
   
}

.suggestionsFooter-Link {
    text-decoration: none;
    color: rgb(199, 199, 199);
}

.suggestionsFooter-Link:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
}

.suggestionsFooter-Language {
    color: rgb(199, 199, 199);
    text-decoration: none;
}

.suggestionsFooter-Language:hover {
    text-decoration: none;
}

.suggestionsFooter-options {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

.suggestionsFooterItem:not(:last-of-type)::after {
    content: "·";
    color: rgb(199, 199, 199);
    margin: 0 0.20em;
}