
.switchAppearance{
    width: 266px;
    height: 118.5px;
    background-color: rgb(255,255,255);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}
.sa-heading{
    border-bottom: rgb(219,219,219);
    padding: 16px;
    display: flex;
    /* align-items: center; */
}
.sa-button{
    border: none;
    outline: none;
    background: none;
    margin-right: 12px;
    /* height: 24px;
    width: 24px; */
}
.sa-arrowIcon{
    font-size: 20px;
    color: rgb(219, 219, 219);
}
.sa-title{
    line-height: 20px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 1px;
}
.sa-icon{
    margin-left: auto;
    margin-top: 3px;
    font-size: 20px;
}

.sa-seperator{
    height: 0.5px;
    /* margin: 8px -8px; */
    background-color: rgb(219, 219, 219);
}
.sa-modeName{
    line-height: 18px;
    font-size: 14px;
    font-weight: 400;
}
.sa-modeContainer{
    /* width: 100%; */
    margin: 8px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    /* border-radius: 12px; */
}
.sa-switchButton-div{
    margin-left: auto;
}
.sa-switchButton{
    
}
.sa-modeContainer:hover{
    border-radius: 8px;
    background-color: rgb(240,240,240);
}

