.switchLoginForm {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    position: fixed;
    overflow: auto;
}

.switchLoginForm-container {
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    min-width: 260px;
    max-width: 400px;
    padding: 20px;
}

.closeButton-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.formClose-button {
    background: none;
    border: none;
    cursor: pointer;
}

.switchLogin-form {
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slf-passwordInput {
    display: flex;
    align-items: center;
    width: 100%;
}

.slf-passBtn {
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    color: rgb(38, 38, 38);
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    margin-left: -90px;
    margin-bottom: 5px;
    position: relative;
}

.slf-passBtn:hover {
    color: rgb(150, 150, 150);
}

.saveLoginInfo {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 170px;
    display: flex;
    align-items: center;
}

.saveLoginInfo-label {
    margin-left: 8px;
    line-height: 16px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}


input[type=checkbox] {
    accent-color: black;
    cursor: pointer;
}

.switchLogin-forgotPass {
    text-decoration: none;
    color: rgb(0, 55, 107);
    margin-top: 6px;
}

.switchLogin-forgotPass span {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    margin-top: 22px;
}