.unfollowModal {
    height: 100vh;
    width: 100vw;
    z-index: 11;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
}

.unfollowModal-container {
    background-color: rgb(255, 255, 255);
    width: calc(-88px + 100vw);
    max-height: calc(100% - 40px);
    max-height: calc(-40px + 100vh);
    min-height: 260px;
    max-width: 400px;
    flex-shrink: 1;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    position: relative
}

.unfollowModal-profileDp {
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unfollowModal-username {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

.unfollowModal-profileDp img {
    margin-bottom: 32px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 1px solid rgb(219, 219, 219);
    object-fit: cover;
}

.unfollowModal-buttons {
    min-height: 48px;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    border-top: 1px solid rgb(219, 219, 219) !important;
    cursor: pointer;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
}

.unfollowButton {
    color: rgb(237,73,86);
    font-weight: 700;
}