.authPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.authMain {
    flex: 1;
    /* Allow main to grow and shrink */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    /* padding-bottom: 32px; */
    margin-left: auto;
    margin-right: auto;
    max-width: 935px;
    width: 100%;
}

.leftContainer {
    background-size: 468.32px 634.15px;
    /* height: 581.15px; */
    /* width: auto; */
    margin-bottom: 12px;
}

.leftContainer img {
    max-width: 100%;
    height: auto;
}

.rightContainer {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* margin-top: 12px;
    width: 350px; */
}

.authFooter {
    text-align: center;
    padding: 16px;
}

@media screen and (max-width: 875px) {

    .authPage {
        overflow-x: hidden;
    }

    .authMain {
        flex-direction: column;
        /* Stack the content vertically on small screens */
        margin-top: 35px;
        padding-bottom: 32px;
    }

    .leftContainer {
        display: none;
    }

    .rightContainer {
        margin-left: 0px;
    }
}