.homePage {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.hp-main {
    display: flex;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
}

.homePageContent {
    display: flex;
    flex-direction: row;
}

.timeline {
    width: 100%;
    max-width: 630px;
    margin-top: 16px;
}

.storyPannel {
    margin-bottom: 24px;
}

.timelinePosts {
    max-width: 100%;
    width: min(470px, 100vw);
    margin-left: auto;
    margin-right: auto;
}

.hp-suggestionBox {
    padding-left: 64px;
}

.hp-loadingEffect {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.homePage-topNavbar{
    display: none;
}

@media (min-width: 1264px) and (max-width: 1919px) {
    .hp-rightSide {
        width: calc(100% - 244px);
        display: flex;
        margin-left: 244px;
        flex-direction: column;
        min-height: 100vh;
    }
}

@media screen and (max-width: 1263px) {

    .hp-rightSide {
        width: calc(100% - 72px);
        display: flex;
        margin-left: 72px;
        flex-direction: column;
        min-height: 100vh;
    }
}

@media screen and (max-width: 1159px) {

    .hp-rightSide {
        width: calc(100% - 72px);
        display: flex;
        margin-left: 72px;
        flex-direction: column;
        min-height: 100vh;
    }

    .hp-suggestionBox {
        display: none;
    }
}

@media screen and (max-width: 767px) {

    .hp-rightSide {
        width: 100vw;
        height: calc(100vh - 120px);
        margin: 60px auto;
        display: flex;
        flex-direction: column;
        /* min-height: 100vh; */
    }

    .hp-loadingEffect {
        padding-bottom: 40px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .hp-footer {
        display: none;
    }

    .timelinePosts {
        width: 95%;
        margin-left: 1em;
        margin-right: 1em;
    }

    /* mobile screen Top navbar code */
    .homePage-topNavbar {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 60px;
        padding: 0px 16px;
        background-color: rgb(255, 255, 255);
        border-bottom: 1px solid rgb(219, 219, 219);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .hp-topNavbar-logo {
        width: 103px;
        height: 29px;
        margin-top: 8px;
    }

    .hp-topNavbar-container {
        display: flex;
        align-items: center;
    }

    .hp-topNavbar-searchBox {
        display: flex;
        align-items: center;
        background-color: rgb(240, 240, 240);
        border-radius: 8px;
        width: 268px;
        min-width: 125px;
        height: 36px;
        padding: 0;
        transition: width 0.3s ease;
        /* Add transition for smooth width change */
    }

    .hp-topNavbar-searchBox:focus-within {
        width: 300px;
        /* Adjust width when focused */
    }

    .hp-topNavbar-searchIcon {
        font-size: 20px;
        color: rgb(142, 142, 142);
        margin-left: 12px;
    }

    .hp-topNavbar-input {
        flex: 1;
        /* Fill remaining space */
        padding: 3px 12px;
        background-color: transparent;
        outline: none;
        border: none;
        color: black;
        font-size: 16px;
        transition: width 0.3s ease;
        /* Add transition for smooth width change */
    }

    .hp-topNavbar-input::placeholder {
        color: rgb(115, 115, 115);
        font-weight: 400;
        font-size: 16px;
    }

    .hp-topNavbar-heartIcon{
        font-size: 26px;
        margin-left: 12px;
    }
}
