.LoginPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.LoginPage-main {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .LoginPage-main {
    flex-direction: column;
    /* Stack elements vertically */
    padding: 8px;
    /* Reduce padding for smaller screens */
  }

  .LoginPage {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 450px) {
  .LoginPage-main {
    padding: 4px;
    /* Reduce padding for smaller screens */
  }
}