.profilePage {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.profilePage-rightSide {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.profilePage-main {
    /* margin-bottom: 30px; */
    padding: 30px 20px 0px 20px;
    max-width: 935px;
    flex-grow: 1;
    width: calc(100% - 40px);
}

@media (min-width: 1264px) and (max-width: 1919px) {
    .profilePage-leftSide {
        width: 244px;
    }
    .profilePage-topNavbar{
        display: none;
    }
}

@media screen and (max-width: 1263px) {
    .profilePage-leftSide {
        width: 72px;
    }
    .profilePage-topNavbar{
        display: none;
    }
}

@media screen and (max-width: 767px) {

    .profilePage-topNavbar{
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        position: fixed;
        background-color: rgb(255,255,255);
        width: 100%;
        height: 46px;
        border-bottom:  1px solid rgb(219,219,219);
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    .pp-topNavbar-links{
        text-decoration: none;
        color: black;
    }
    .pp-topNavbar-icons{
        font-size: 24px;
        margin: 0px 16px;
    }
    .pp-topNavbar-button{
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
    }
    .pp-topNavbar-button span{
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    .profilePage-footer {
        display: none;
    }

    .profilePage-leftSide {
        width: 0%;
    }

    .profilePage-rightSide {
        margin: 0;
    }

    .profilePage {
        height: calc(100vh-45px);
    }

    .profilePage-main {
        margin-top: 45px;
        width: 100%;
        padding: 0 0 46px 0;
    }

}